@tailwind base;
@tailwind components;
@tailwind utilities;
/*#region Default Settings */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  textarea,
  input,
  select,
  option {
    outline: none;
  }
  /* Fonts import */
  @font-face {
    font-family: "Typeface";
    src: url("/fonts/wp.ttf");
  }
  @font-face {
    font-family: "Hind Siliguri, sans-serif";
    src: url("/fonts/hs.ttf");
  }
  body {
    background-color: #f0f9f8;
    padding: 0;
    margin: 0;
    @apply font-wp;
  }
  /*#region DisableAudioUI*/
  @supports selector(audio::-webkit-media-controls) {
    audio::-webkit-media-controls {
      display: none !important;
    }
  }
  @supports selector(audio::-webkit-media-controls-enclosure) {
    audio::-webkit-media-controls-enclosure {
      display: none !important;
    }
  }
  @supports selector(audio::-webkit-media-controls-panel) {
    audio::-webkit-media-controls-panel {
      display: none !important;
    }
  }
  /* For Firefox */
  audio {
    width: 0;
    height: 0;
    position: absolute;
    top: -100%;
  }
  /*#endregion DisableAudioUI*/
  /*#region Scrollbar */
  @media (min-width: 768px) {
    code::-webkit-scrollbar {
      display: none !important;
    }
  }
  code::-webkit-scrollbar-track {
    background: transparent;
  }
  html::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  html::-webkit-scrollbar-track {
    background: #daeceb;
  }
  /* Handle */
  html::-webkit-scrollbar-thumb {
    background: var(#252627);
    border: 1px solid;
    border-radius: 20px;
  }
  /* Handle on hover */
  html::-webkit-scrollbar-thumb:hover {
    background: #191409;
  }
  /*#endregion Scrollbar */
}
/*#endregion Default Settings */
/*#region Mirror */
.mirrortext {
  transform: scale(1, -1);
}
.mirror {
  transform: scaleX(-1);
}
/*#endregion Mirror */
/*#region Animations */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.botimage {
  animation: spinner 10s linear infinite;
}
@keyframes vibration {
  50% {
    @apply opacity-50;
  }
}
.vibration {
  animation: vibration 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.slide-in {
  transform: translateX(-100vw);
  transition: transform 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.slide-in.visible {
  transform: translateX(0);
}
.appear {
  @apply opacity-100 transition-all duration-300;
}
/*#endregion Animations */
/*#region Modal, onClick events */
.botenomicsmodal,
.overlay {
  @apply fixed inset-0;
}
.botenomicsmodal {
  @apply z-50;
}
.botenomicsmodal-content,
.socialmodal-content {
  transform: translate(-50%, -50%);
  border: 5px solid black;
}
.socialmodal,
.overlay {
  @apply fixed inset-0 h-[100vh] w-screen;
}
/* .socialmodal-content {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 36vw;
  height: 25vw;
} */
/*#endregion Modal, onClick events */
@layer components {
  #mobileheader {
    @apply bg-[#daeceb] opacity-90;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
  }
}
